/* Just gonna leave this stuff commented out until I feel like I know what to do.

body {
    display: flex;
    background-color: white; 
    flex-wrap: wrap;
}

.search-bar {
    align-content: center;
    align-items: center;
}

.google-image {
    transform: scale(.75);
}

button {
    margin: 0px;
}

button:hover {
    border: 10px, black;
}

*/

/* How do I move divs around? */