body {
    background-color: white; 
}

.search-bar {
    display: flex;
}

.google-image {
    margin: auto;
    transform: scale(.75)
}

button {
    margin: 10px;
}

button:hover {
    border: 1px
}
/* How do I move divs around? */